/*
h1 {
    color: red;
    background-color: yellow;
    border: 10px black solid;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
*/
h1 {
    color: red;
}
.title {
    background-color: gray;
}
#important {
    color: yellow;
}

